* { box-sizing: border-box;}
header {
      background-color: tomato;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 20%;
      margin: 1%;
}

#content-wrapper {
      background-color: grey;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 70%;
      margin: 1%;
}

.text-block{
  text-align: justify;
  background-color: lightgrey;
  color: black;
  width: 70%;
  padding: 2%;
  margin-left: 15%;
  margin-bottom: 1em;
}

footer {
      background-color: DodgerBlue;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 10%;
      margin: 1%;
}

.big-img{
  display: inline-block;
  text-align: center;

}

.little-img {
  padding-left: 1.4em;
  display: inline-block;
  text-align: center;
}
