* { box-sizing: border-box;}
header {
      background-color: tomato;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 20%;
      margin: 1%;
}

#content-wrapper {
      background-color: lightgrey;;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 70%;
      margin: 1%;
}


.text-block{
  text-align: justify;
  background-color: white;
  color: black;
  width: 70%;
  padding: 2%;
  margin-left: 15%;
  margin-bottom: 1em;
}

.imagen-principal {
  border: 1px solid #ccc;
  float: left;
  width: 30%;
  max-width: 100%;
  max-height: 100%;
  margin:1em;

}

footer {
      background-color: DodgerBlue;
      color: white;
      padding: 2%;
      text-align: center;
      weight: 10%;
      margin: 1%;
}


div.gallery {
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    max-width: 100%;
    max-height: 100%;
    margin:1em;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

img {
display:block;
margin:auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.text-block::after {
    content: "";
    clear: both;
    display: table;
}
